* {
	margin: 0px;
	padding: 0px;
	}

#mainContent {
	margin: 5px;
	width: 522px;
	height: 680px;
	border-radius: 5px;
	background-color: rgb(67,142,185);
	}

#mainContent ul {
	list-style: none;
	}

#mainContent li {
	display: inline;
	}

#tools div {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	border-bottom: 2px solid rgb(67,142,185);
	}

#tools div:hover {
	border-bottom: 2px solid white;
	}

#canvas {
	margin: 5px;
	border-radius: 5px;
	background-color: white;
	}

#colors {
	display: block;
	margin: 5px;
	}

#colors div:hover {
	height: 40px;
	}

#penwidth {
	float: right;
	margin-right: 5px;
	}

#penwidth input {
	width: 20px;
	}

.currentTool {
	border-left: 2px solid black;
	border-right: 2px solid black;
	}

.currentColor {
	height: 20px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
	}

.colorBlock {
	float: left;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	}

.color1 {
	background-color: rgb(0,0,0);
	}

.color2 {
	background-color: rgb(255,255,255);
	}

.color3 {
	background-color: rgb(0, 0, 255);
	}

.color4 {
	background-color: rgb(0, 255, 255);
	}

.color5 {
	background-color: rgb(255, 255, 0);
	}

.color6 {
	background-color: rgb(255, 0, 0);
	}

.color7 {
	background-color: rgb(0, 255, 0);
	}

.color8 {
	background-color: rgb(255, 0, 255);
	}

.color9 {
	background-color: rgb(136, 136, 136);
	}