* {
	margin: 0px;
	padding: 0px;
	}

body {
	padding: 5px;
	}

#container {
	padding: 5px;
	width: 465px;
	border-radius: 5px;
	background-color: rgb(67,142,185);
	}

#canvas {
	float: left;
	border-radius: 5px;
	border: 1px solid black;
	}

#tools {
	float: left;
	width: 60px;
	border-radius: 5px;
	border: 1px solid black;
	}

#options {
	clear: both;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	}

#colors {
	overflow: auto;
	padding: 5px;
	}

#colors img {
	border-radius: 3px;	
	}

#colors img:hover {
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	transform:scale(1.5);
	}

#colors span {
	float: left;
	}

#lineColor {
	float: right;
	width: 50px;
	height: 20px;
	}

#fillColor {
	float: right;
	width: 50px;
	height: 20px;
	}

#penWidth {
	clear: both;
	}

