<!DOCTYPE html>
<html data-ng-app>
<head lang="en">
	<meta charset="utf-8">
	<title>Whiteboard v1.0</title>

	<link href="css/whiteboard.css" rel="stylesheet">
</head>
<body data-ng-controller="whiteboardController" data-ng-init="init()">
  <div id="container">

    <canvas id="canvas" height="512px" width="512px">
      Your browser does not support the canvas element.
    </canvas>

    <div id="tools">
      <span><input type="radio" name="tool" value="pencil" checked data-ng-model="tool"> Pencil</span>
      <span><input type="radio" name="tool" value="line" data-ng-model="tool"> Line</span>
      <span><input type="radio" name="tool" value="rectangle" data-ng-model="tool"> Rectangle</span>
      <span><input type="radio" name="tool" value="circle" data-ng-model="tool"> Circle</span>
      <span><input type="radio" name="tool" value="background" data-ng-model="tool"> Background</span>
    </div>

    <div id="drawOptions" data-ng-show="isToolNameSelected('pencil', 'rectangle', 'line')">
      <div id="colors">          
        <img src="images/colors/black.png" data-ng-click="selectColor('1')">
        <img src="images/colors/white.png" data-ng-click="selectColor('2')">
        <img src="images/colors/blue.png" data-ng-click="selectColor('3')">
        <img src="images/colors/skyblue.png" data-ng-click="selectColor('4')">
        <img src="images/colors/red.png" data-ng-click="selectColor('5')">
        <img src="images/colors/green.png" data-ng-click="selectColor('6')">
        <img src="images/colors/yellow.png" data-ng-click="selectColor('7')">
        <img src="images/colors/pink.png" data-ng-click="selectColor('8')">
        <img src="images/colors/gray.png" data-ng-click="selectColor('9')">        
      </div>

      <div id="colorTarget">
        <div title="Line color" data-ng-class="lineColorCss" data-ng-click="changeColorTarget('line')"></div>
        <div title="Fill color" data-ng-class="fillColorCss" data-ng-click="changeColorTarget('fill')"></div>
      </div>

      <div id="lineWidth">
        <input type="radio" name="lineWidth" value="small" title="small" data-ng-model="lineText" data-ng-click="changeLineWidth('3')">
        <input type="radio" name="lineWidth" value="medium" checked title="medium" data-ng-model="lineText" data-ng-click="changeLineWidth('5')">
        <input type="radio" name="lineWidth" value="large" title="large" data-ng-model="lineText" data-ng-click="changeLineWidth('10')">
        {{lineText}}
      </div>

      <div id="fillOptions" data-ng-show="isToolNameSelected('rectangle', 'circle')">
        Fill shape?
        <input type="checkbox" data-ng-model="fillShape">
      </div>

    </div>
  </div>

	<script src="jquery-v2.0.3.min.js"></script>
	<script src="angular.min.js"></script>  
  <script src="whiteboardController.js"></script>
  <script src="whiteboardRenderer.js"></script>
</body>
</html>